body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 0;
    flex-wrap: wrap;
    text-align: center;
}
h3{
    font-size: 14px;
}
a{
    color: white;
    text-decoration: none;
}

.headingItem{
    margin-right: 15px;
    font-size: 12px;

}
.bodyHeads{
    margin-top: 10px;
    font-size: 25px;
    margin-bottom: 5px;
    flex-basis: 100%;
}
.articleSubGroups{
    border: grey 0.5px;
    border-style: solid;    
    display: inline-flex;
    justify-content: center;
    margin: 15px -2.5px 0px -2.5px;
    flex-wrap: wrap;
    text-align: center;
    max-width: 600px;
    padding: 0 10px 10px 10px;
}
.subLabels{
    margin-top: 0;
    font-size: 15px;
    text-align: center;
    flex-basis: 100%;
}
.subHeadings{
    text-align: center;
    flex-basis: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.bodyLabels{
    font-size: 15px;
}
.pageImage{
    width: 600px;
    height: 400px;
    padding-top: 2px;
}
#pageBody{
    margin-top: 50px;
    margin-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    text-align: center;
    padding-bottom: 2%;
    justify-content: center;
}


#ourServices{
    padding: 0;
    margin: 0;
}


#aboutUs{
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    flex-basis: 100%;
}
#ourServicesHeader{
    width: 100%;
    text-align: center;
    margin-top: 15px;
}
#topBar{
    background-color: black;
    color: white;
    display: flex;
    top: 0;
    margin: 0;
    padding-top: 10px;
    width: 100%;
    justify-content: space-around;
    position: absolute;   
    left: 0;
    align-items: center;
    font-size: 10px;
    flex-wrap: wrap;
    text-align: center;
}
#bottomBar{
    background-color: black;
    color: white;
    padding: 1%;
    width: 100%; 
    bottom: 0;
    margin-bottom: 0;
    left: 0;
}
#luckyLabel{
    font-size: 90%;
}
#linkList{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;    
}
